<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instacaption</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/portfolio-item.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Open+Sans|Raleway|Montserrat" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- JS -->
    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-2.0.9.js"></script>

    <!-- AngularJS -->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>

    <!-- AWS -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.9.min.js"></script>
    <script type="text/javascript">
        // See the Configuring section to configure credentials in the SDK
    </script>

</head>

<body id="body" ng-app="app1" ng-controller="appController">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Instacaption</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container content">

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div class="drop_zone">
                    <input type="file" id="files" onclick="clearImage()" name="files[]" multiple />
                    <p></p>
                    <output id="list" style="overflow: hidden; overflow-y: hidden;"></output>
                </div>
                <div id="results"></div>
                <hr>
                <div>Please go here and add this Chrome extension: <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en">Allow-Control-Allow-Origin</a></div>
            </div>

            <!-- Where the caption will be printed? -->
            <div class="col-md-4" style="margin-top: -30px;">
                <h3 class="navbar-header">Captions</h3>
            </div>
            <div class="col-md-4 pre-scrollable captions">
                <div ng-repeat="tag in tags track by $index">
                    {{tag}}
                </div>
                <!-- <p ng-repeat="tag in tags track by $index">{{tag}}</p> -->
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Instacaption 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                '" title="', escape(theFile.name), '"/>'].join('');
                        span.height = 100;
                        span.width = 100;
                        document.getElementById('list').insertBefore(span, null);


                        var srcData;

                        // Checking to see if image is .png or .jpeg
                        if (reader.result.charAt(11) == 'j') {
                            srcData = (reader.result).substring(23, reader.result.length);
                        } else if (reader.result.charAt(11) == 'p') {
                            srcData = (reader.result).substring(22, reader.result.length);
                        }

                        var app = new Clarifai.App(
                            'wHIFmkeN4zK0u-9fbniBuBuRvr46iqH90Qm6TpHR', // id
                            'oXH7OBXjkHkxUprD-1ldyof2Q29WU76xaAkeBLFw' // secret
                        );


                        app.models.predict(Clarifai.GENERAL_MODEL, {
                            base64: srcData
                        }).then(
                            function (response) {
                                var temp = [];
                                var results = response["data"]["outputs"][0]["data"]["concepts"];
                                for (i = 0; i < results.length; i++) {
                                    temp.push(results[i]["name"]);
                                }

                                console.log(temp);
                                // 'http://api.lyricsnmusic.com/songs?api_key=e64c151037a51ee6eec671e3020a46&lyrics=Trains%20railways'
                                var urlTags = "http://api.lyricsnmusic.com/songs?api_key=e64c151037a51ee6eec671e3020a46&lyrics=" + temp[0];
                                for (i = 1; i < 4; i++) {
                                    //console.log(temp[i]);
                                    urlTags += "%20" + temp[i];
                                }
                                urlTags = urlTags.replace(/\s+/g, '')

                                //console.log(urlTags);
                                var justTheTags = [];
                                $.getJSON(urlTags, function (data) {
                                    //data is the JSON string
                                    for (i = 0; i < data.length; i++) {
                                        //console.log(data[i]["snippet"]);
                                        justTheTags.push(data[i]["snippet"]);
                                    }
                                    console.log(justTheTags);

                                    // In case no captions are found for given image.
                                    if (justTheTags.length == 0) {
                                        justTheTags = ["No captions found."];
                                    }
                                    $scope.$apply(function () {
                                        $scope.tags = justTheTags;
                                        console.log($scope.tags);
                                    });
                                });

                                var appElement = document.querySelector('[ng-app=app1]');
                                var $scope = angular.element(appElement).scope();
                                console.log(justTheTags);



                            },
                            function (err) {
                                console.error(err);
                            }
                        );
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', handleFileSelect, false);

        function clearImage() {
            var node = document.getElementById('list');
            while (node.hasChildNodes()) {
                node.removeChild(node.lastChild);
            }
            var appElement = document.querySelector('[ng-app=app1]');
            var $scope = angular.element(appElement).scope();
            $scope.$apply(function () {
                $scope.tags = ["LOADING"];
                console.log($scope.tags);
            });
            // get scope, set tags to loading
        }
    </script>

</body>

</html>