body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    background-color: #fafafa;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    padding-top: 55px;
}

.captions {
    max-height: 65rem;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    background: #fafafa;
}

.captions p {
    color: red;
}

.captions div:hover {
    background: #455A64;
    color: #fafafa;
    cursor: pointer;
    padding:10px;
    border-radius: 20px;
}

.captions div {
    background: #fafafa;
    transition: background .2s linear, border-radius 1s ease-in 1s;
    height: 80px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
    border-radius: 20px;
}

.captions div:active {
    background: #455A64;
    color: #fafafa;
}

.drop_zone {
    min-height: 70rem;
    border: 2px solid #BDBDBD;
    /* rgba(0, 0, 0, 0.3); */
    border-radius: 25px;
    background: #f2f2f2;
    padding: 54px 54px;
}

.drop_zone p {
    margin: 0;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: lightslategrey;
    font-size: 25px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* Navbar customizations */

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    float: none;
    font-size: 40px;
}

.navbar-default {
    background-color: #455a64;
    border-color: #607d8b;
    padding-top: 5px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #607d8b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #607d8b;
}

.navbar-default .navbar-toggle {
    border-color: #607d8b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #607d8b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #607d8b;
    }
}


/* Custom Scrollbar

#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 800px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

*/